Repository weiyuxuan/webpack-react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cspell

feat: stylelint
  .lintstagedrc
  .stylelintignore
  .stylelintrc.js
  package-lock.json
  package.json
Due: eslint --fix

chore: lint codes
  .eslintignore
  README.md
  build/paths.js
  build/webpack.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  package.json
  src/app.module.scss
  src/index.scss
Due: eslint --fix, cspell

chore: remove dist
  .gitignore
  dist/assets/icons/favicon.ico
  dist/favicon.ico
  dist/index.html
  dist/js/main.1434484092f4846de911.bundle.js
  dist/js/main.1434484092f4846de911.bundle.js.LICENSE.txt
  dist/js/runtime.33b0379d9cda8f1ec5d8.bundle.js
  dist/styles/main.2b4c6f05a54f94ce7f01.css
Due: eslint --fix

fix: husky issue
  .commitlintrc.js
  .eslintignore
  .eslintrc.js
  .huskyrc
  README.md
  build/webpack.config.js
  build/webpack.dev.js
  build/webpack.prod.js
  package-lock.json
  package.json
Due: eslint --fix

chore: optimize prettier config
  .eslintrc.js
  .prettierignore
  .prettierrc
  build/paths.js
  build/webpack.config.js
  build/webpack.dev.js
  build/webpack.prod.js
  src/App.jsx
  src/index.js
Due: eslint --fix, cspell

chore: default vscode config
  .eslintrc.js
  .vscode/settings.json
  jsconfig.json
Due: eslint --fix

chore: support postcss
  .postcssrc.js
  .prettierrc
  build/webpack.config.js
  package-lock.json
  package.json
Due: eslint --fix

chore: improve plugin
  .babelrc
  .editorconfig
  .eslintrc.js
  .gitignore
  README.md
  build/webpack.config.js
  build/webpack.dev.js
  build/webpack.prod.js
  cspell.json
  package-lock.json
  package.json
Due: eslint --fix

docs: update README.md
  README.md
  package.json
Due: none

docs: update README.md
  README.md
Due: none

chore: add necessary dependencies
  .babelrc
  .postcssrc.js
  .stylelintrc.js
  build/webpack.config.js
  package-lock.json
  package.json
  src/app.module.scss
  src/index.scss
Due: eslint --fix, cspell

chore: rename
  README.md
  package-lock.json
  package.json
Due: none

chore: rename the build folder name
  .gitignore
  .stylelintignore
  config/paths.js
  config/webpack.config.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix

chore: remove mobx
  src/App.jsx
Due: eslint --fix, cspell

feat: support typescript
  .babelrc
  .browserslistrc
  .commitlintrc.js
  .eslintignore
  .eslintrc
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintrc
  .stylelintrc.js
  .vscode/settings.json
  README.md
  config/webpack.config.js
  config/webpack.dev.js
  cspell.json
  jsconfig.json
  package-lock.json
  package.json
  scripts/paths.js
  scripts/webpack.common.js
  scripts/webpack.dev.js
  scripts/webpack.prod.js
  src/App.jsx
  src/app.module.scss
  src/assets/favicon.ico
  src/assets/logo.svg
  src/components/App.tsx
  src/components/app.m.scss
  src/constants/common.ts
  src/index.js
  src/index.scss
  src/index.tsx
  src/typings.d.ts
  tsconfig.json
Due: eslint --fix, cspell

chore: remove prettier
  .eslintignore
  .eslintrc
  README.md
  package.json
  src/components/App.tsx
  src/hooks/useClock.ts
Due: none

chore: install husky hooks
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/App.tsx
Due: none

chore: update browser list
  .browserslistrc
  .eslintrc
  README.md
  scripts/webpack.common.js
  src/components/App.tsx
  src/components/app.module.scss
Due: eslint --fix, cspell

chore: update tsconfig
  tsconfig.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: update dependencies
  README.md
  package-lock.json
  package.json
  scripts/webpack.dev.js
Due: eslint --fix

chore: update eslint config
  .eslintrc
  src/index.tsx
Due: none

Update README.md
  README.md
Due: none

chore: remove useless vscode config
  .vscode/settings.json
Due: none

feat: adjust configs
  scripts/webpack.common.js
  src/typings.d.ts
  tsconfig.json
Due: eslint --fix

chore: update dependencies
  .stylelintrc
  package-lock.json
  package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
  scripts/webpack.common.js
  src/index.tsx
Due: eslint --fix

chore: update dependencies
  package-lock.json
  package.json
  src/typings.d.ts
Due: none

chore: update node version
  README.md
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  cspell: any of: src/**/*.{jsx,js,scss}
